<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
    <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>
    <import class="net.logstash.logback.encoder.LogstashEncoder"/>

    <variable resource="logback.properties"/>
    <variable scope="context" name="traceSpan" value="%replace( [%mdc{trace_id} %mdc{span_id}] ){'\ \[\ \]\ ','\ '}"/>

    <appender name="CONSOLE" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36}${traceSpan}%msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="APP_LOG" class="RollingFileAppender">
        <file>${LOG_DIR}/${APP_LOG_NAME}.log</file>
        <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_LOG_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="LogstashEncoder">
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <appender name="TEST_LOG" class="RollingFileAppender">
        <file>${LOG_DIR}/${TEST_LOG_NAME}.log</file>
        <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${TEST_LOG_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36}${traceSpan}%msg%n
            </Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="dev.porkchop" level="info">
        <appender-ref ref="APP_LOG"/>
    </logger>

    <logger name="dev.porkchop.test" level="info">
        <appender-ref ref="TEST_LOG"/>
    </logger>

</configuration>